
<h1> <%= @question.title %> </h1>
<% if owner?(@question.user) %>
  <span><a href="/questions/<%= @question.id %>/edit">Edit</a>
    |
<% end %>

<% if @question.votes %>
  <span>Question Votes: <%= @question.votes.count %>
<% end %>
<h3> <%= @question.content %> </h3></span>
<% if logged_in? %>
  <% action = "/questions/#{@question.id}/votes" %>
  <%= erb :'questions/_vote_form', layout: false, locals: { action: action } %>
<% end %>
<h4> Comments </h4>
<% if @question.comments %>
  <p>Total Question Comments: <%= @question.comments.count %> </p>
  <ul>
    <% @question.comments.each do |comment| %>
      <li><%= comment.content %><br> Votes: <%= comment.votes.count %>
        <% if logged_in? %>
          <% action = "/comments/#{comment.id}/votes" %>
          <%= erb :'questions/_vote_form', layout: false, locals: { action: action } %>
        <% end %>
      </li><br>
    <% end %>
  </ul>
<% end %>
<% if logged_in? %>
<form action="/questions/<%= @question.id %>/comments/new">
  <input class="button" type="submit" value="Question Comment">
</form>
<% end %>

<h4> Answers </h4>
<% if @question.answers %>
<p> Total Answers: <%= @question.answers.count %></p>
<ul>
  <% @question.answers.each do |answer| %>
  <li><%= answer.content %><br> Votes: <%= answer.votes.count %>
    <% if logged_in? %>
      <% action = "/answers/#{answer.id}/votes" %>
      <%= erb :'questions/_vote_form', layout: false, locals: { action: action } %>
    <% end %>
  </li><br>
    <% if answer.comments %>
      <ul>
        <% answer.comments.each do |comment| %>
          <li> <%= comment.content %><br> Votes: <%= comment.votes.count %>
            <% if logged_in? %>
              <% action = "/comments/#{comment.id}/votes" %>
              <%= erb :'questions/_vote_form', layout: false, locals: { action: action } %>
            <% end %>
          </li><br>
        <% end %>
      </ul>
    <% end %>
    <% if logged_in? %>
    <form action="/answers/<%= answer.id %>/comments/new">
      <input class="button" type="submit" value="Answer Comment">
    </form>
    <% end %>
  <% end %>
</ul>
<% else %>
<p> No Answers Yet </p>
<% end %>

<% if logged_in? %>
<form action="/questions/<%= @question.id %>/answers/new">
  <input class="button" type="submit" value="Answer Question">
</form>
<% end %>
