
<h1> <%= @question.title %> </h1>

<% if @question.votes %>
  <span>Question Votes: <%= @question.votes.count %>
<% end %>
<h3> <%= @question.content %> </h3></span>

<h4> Comments </h4>
<% if @question.comments %>
  <p>Total Question Comments: <%= @question.comments.count %> </p>
  <ul>
    <% @question.comments.each do |comment| %>
      <li><%= comment.content %><br> Votes: <%= comment.votes.count %></li><br>
    <% end %>
  </ul>
<% end %>
<form action="/questions/<%= @question.id %>/comments">
  <input class="button" type="submit" value="Create New Comment">
</form>

<h4> Answers </h4>
<% if @question.answers %>
<p> Total Answers: <%= @question.answers.count %></p>
<ul>
  <% @question.answers.each do |answer| %>
  <li><%= answer.content %><br> Votes: <%= answer.votes.count %></li><br>
    <% if answer.comments %>
      <ul>
        <% answer.comments.each do |comment| %>
          <li> <%= comment.content %><br> Votes: <%= comment.votes.count %></li><br>
        <% end %>
      </ul>
    <% end %>
    <form action="/questions/<%= @question.id %>/answers/new">
      <input class="button" type="submit" value="Answer Question">
    </form>
  <% end %>
</ul>
<% else %>
<p> No Answers Yet </p>
<% end %>

<form action="/questions/<%= @question.id %>/answers/new">
  <input class="button" type="submit" value="Answer Question">
</form>
