
<h1> <%= @question.title %> </h1>
<h2> <%= @question.content %> </h2>
<h3> <%= @answer.content %> </h3>
<h4> Create New Comment: </h4>

<%= erb :_errors, layout: false, locals: { errors: @errors } %>

<%= erb :'comments/_form', layout: false, locals:
                                          {
                                            action: @action,
                                            method: @method,
                                           comment: @comment,
                                             event: @event
                                          } %>
